* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    color: rgb(28, 27, 27);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.container,
.form__login {
    background-color: rgb(28, 27, 27);
}

a {
    text-decoration: none;
    color: #dedede;
}

li {
    list-style-type: none;
}

.container,
.navbar,
.section__container {
    display: flex;
    align-items: center;
}

li {
    margin: auto 10px;
}

.brand {
    font-size: 25px;
    font-weight: 700;
}

.btn__login {
    margin: 25% auto;
    padding: 22%;
    background-color: cornflowerblue;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #dedede;
}

.btn:hover,
.btn__section:hover {
    background-color: rgb(79, 115, 182);
    transition: 0.2s;
}


/*  */
.background__picture {
    background: linear-gradient(rgba(20, 22, 32, 0.9), rgba(20, 22, 32, 0.9)), url("../img/background-image.jpg") no-repeat center center;
    background-size: cover;
}

.small__image {
    height: 250px;
}

.title {
    font-size: 55px;
    font-weight: 700;
    color: #dedede;
}

.paragraph {
    padding: 2% 3%;
    color: #dedede;
}

.section__container {
    height: 500px;
    width: 70%;
    justify-content: center;
    flex-wrap: wrap;
}

.section__wrapper {
    display: block;
    width: 45%;
}


/* FORM */
.line {
    border-left: 4px solid cornflowerblue;
}

/* Основное расположение */
.section__form {
    display: flex;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
}

.form__signup,
.form__login {
    width: 30%;
}

/* Регистрация */
.signup {
    margin-left: 2%;
}

/* Авторизация */
.form__login {
    border-radius: 15px;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
}

/* Заголовок */
.title_signup,
.title_login {
    font-size: 20px;
    font-weight: 700;
}

.title_login {
    color: #dedede;
}

.title_signup {
    color: rgb(28, 27, 27);
}

/* Мелкий текст */
.small {
    margin: 3% auto;
    text-align: center;
    color: #dedede;
}

.small__signup {
    margin: 3% auto;
    color: rgb(28, 27, 27);
    text-align: left;
}

/* Ввод */
.input {
    padding: 2% 3%;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: rgb(212, 212, 212);
}

/* Кнопки */
.btn__section {
    background-color: cornflowerblue;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    padding: 2% 5%;
    color: #dedede;
}


.block {
    min-height: 500px;
    background-color: rgb(20, 22, 32);
}

/* PROFILE PAGE */
.profile__container {
    padding: 10% auto;
    width: 60%;
}

.profile__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.left {
    margin: 10% auto;
    width: 20%;
}

.profile__img {
    min-height: 300px;
    min-width: 180px;
    background-image: url(../img/profile-img.jpg);
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
}

.profile__title {
    padding: 10%;
    text-shadow: 1px 1px 2px black;
    font-weight: 800;
}

.profile__btn {
    padding: 2% 3%;
    background-color: #dedede;
    color: rgb(28, 27, 27);
    border-radius: 15px;
    font-size: 14px;
    font-weight: 800;

    position: absolute;
    left: 5%;
    bottom: 5%;
}
.profile__btn:hover {
    transition: 0.2s;
    padding: 3% 3%;
    background-color: #cecccc;
}

.profile__about {
    min-width: 180px;
    background-color: rgb(28, 27, 27);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.profile__about>h3 {
    padding: 10% 5%;
    font-weight: 800;
}

.profile__about>p {
    padding-left: 5%;
    font-size: 15px;
}


.white__text {
    color: #dedede;
}

.right {
    width: 77%;
    margin: 10% auto;
}

.profile__info {
    background-color: rgb(28, 27, 27);
    border-radius: 10px;
    padding: 1%;
}

.info__title, .info_paragraph, .posts__title {
    text-align: left;
    margin: 1% auto 2% 3%;
}
.post__title, .post__text, .post__date {
    text-align: left;
    margin: 1% auto 2% 2%;
}
.post__date {
    font-size: 12px;
}

.info__title {
    font-size: 18px;
    font-weight: 800;
}


.profile__posts {
    background-color: #dedede;
    border-radius: 10px;
    padding: 1%;
    margin-top: 1%;
}
.post__line {
    border-left: 3px solid rgb(28, 27, 27);
    margin-left: 1%;
}
.posts__title {
    font-weight: 800;
}